.education {
  background-color: #fff;
  display: flow-root;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.school_container {
  display: inline-flex;
  flex-direction: column;
  margin: auto;
}