.education {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.school_container {
  padding: 24px 48px;
  text-align: left;
}

@media (min-width: 1024px) {
  .school_container {
    width: 1024px;
  }
}

@media (max-width: 1024px) {
  .school_container {
    padding: 24px 16px;
    width: 100%;
  }
}