.work_exp {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)), url('../../../assets/workexp_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -2;
  position: relative;
}

.work_container {
  padding: 24px 48px;
  text-align: left;
  position: relative;
}

.work_container::after {
  content: '';
  background-color: #fff;
  position: absolute;
  width: 5px;
  left: 556px;
  top: 150px;
  bottom: 100px;
  z-index: -1;
}

@media (min-width: 1024px) {
  .work_container {
    width: 1024px;
  }
}

@media (max-width: 1024px) {
  .work_container {
    padding: 24px 16px;
    width: 100%;
  }

  .work_container::after {
    left: 55px;
  }
}

@media (max-width: 1140px) {

}

@media (min-width: 1024px) and (max-width: 1140px) {
  .work_container::after {
    left: 88px;
  }
}