.home {
  min-height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #2D373D;
  background: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)), url('../../../assets/home_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.profile_picture {
  background-color: #ffffff;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  margin: 24px 0;
}